@font-face {
  font-family: "Wagon";
  src: url(Fonts/wagon-extralight-webfont.woff);
}

@font-face {
  font-family: "Wagon-bold";
  src: url(Fonts/wagon-bold-webfont.woff);
}

@font-face {
  font-family: "Wagon-italic";
  src: url(Fonts/wagon-extralightitalic-webfont.woff);
}

@import url("https://fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold");

/* 1. Root */

:root {
  --background-color: #fff8ee;
  --text-color: #482303;
  --primary-font-family: "roboto", sans-serif;
  --secondary-font-family: "Wagon";
  --third-font-family: "Wagon-italic";
}

html {
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

html {
  box-sizing: border-box;
}

p {
  font-family: var(--primary-font-family);
  font-size: 19px;
  font-weight: 100;
  line-height: 1.5;
}

h1 {
  font-family: var(--secondary-font-family);
  font-size: 8.2em;
  font-weight: 70;
  margin: 0;
}

h2 {
  font-size: 7.5em;
  font-weight: 20;
  font-family: "Wagon-italic", sans-serif;
}

h3 {
  font-size: 3em;
  font-weight: 20;
  font-family: "Wagon", sans-serif;
}

.background-container {
  background: radial-gradient(
    ellipse 50% 500px,
    #ffa996c2 20%,
    #fff8ee 70%,
    #fff8ee
  );
}

/* Button */

.button {
  font-family: "Wagon-italic", sans-serif;
  font-size: 1.3em;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  border-radius: 100%;
  padding: 10px 30px;
  border: 1px solid var(--text-color);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 0 5px 15px rgba(255, 161, 117, 0.4);
  background: #fff;
}

.button-container {
  display: inline-block;
  padding-top: 1.5rem;
}

/* Button hover */

/* 2. Navigation */

.header {
  border-bottom: 1.5px solid var(--text-color);
  background-color: var(--background-color) !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.nav-item,
.nav-link {
  padding: 5px 0;
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  font-weight: 450;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: var(--text-color);
}

.nav-menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.nav-logo {
  flex: 2;
  padding: 5px 30px;
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  font-weight: 450;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: var(--text-color);
}

.nav-link {
  list-style: none;
}

.mobile-menu {
  display: none;
}

/* Hamburger menu */

.line1,
.line2 {
  width: 40px;
  height: 2px;
  background: var(--text-color);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .line1 {
  transform: rotate(-45deg) translate(-1px, 2px);
}

/* Rotate last bar */
.change .line2 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.hamburger {
  position: fixed;
  display: none;
  cursor: pointer;
  z-index: 99 !important;
  top: 1rem;
  right: 2rem;
}

/* 3. Hero section */

.star {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 60px;
  margin-right: 20px;
}

.star-circle {
  width: 80px;
  height: 80px;
  margin-top: 60px;
  margin-left: 20px;
}

.star-circle-mobile-only {
  display: none;
}

.hero-section {
  min-height: 53vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headline-2 {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

h1 span {
  font-family: var(--third-font-family);
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 7rem;
}

/* Paragraph */
.hero-text {
  width: 650px;
}

.hero-text p {
  font-family: var(--primary-font-family);
  font-size: 25px;
  font-weight: 100;
  width: 65%;
}

/* View projects button */
.view-projects-circle {
  width: 200px;
  height: 200px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
}

.scroll-arrow {
  width: 70px;
  height: 70px;
}

.button-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

.scroll-element {
  position: absolute;
}

/* Horizontal scroll section */

.featured-projects {
  font-family: var(--secondary-font-family);
  font-size: 48px;
  display: inline-block;
}

.horizonal-scroll-section {
  height: 70px;
  border-bottom: 1.5px solid var(--text-color);
  border-top: 1.5px solid var(--text-color);
  padding: 10px 0;
}

.featured-projects {
  padding: 0 15px;
  animation: marquee 10s linear infinite;
}

.featured-projects span {
  font-family: var(--primary-font-family);
  font-weight: 100;
}

.featured-projects::after {
  display: inline-block;
  content: " ";
  background-image: url("Images/star-circle\ [Gendannet].svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  margin-left: 20px;
}

.horizontal-scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Scroll button */

.button-scroll .scroll-background {
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Projects section */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Project-1 Project-2"
    "Project-3 Project-4";
}
/*
.projects-section {
  background-image: url(images/bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.project-wrapper img {
  border: 1.5px solid var(--text-color);
  border-radius: 20px;
}

.Project-3 {
  grid-area: Project-3;
}

.Project-1 {
  grid-area: Project-1;
}

.Project-2 {
  grid-area: Project-2;
}

.Project-4 {
  grid-area: Project-4;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}

.Project-3 {
  padding: 0px 90px 0px 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Project-2 {
  padding: 500px 90px 0px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Project-1 {
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Project-4 {
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-title {
  margin: 0;
}

.project-content {
  padding-top: 20px;
}

.view-all-circle {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  margin-top: -250px;
  margin-left: 20em;
  justify-content: center;
  justify-content: center;
}

/* About section */

.about-section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;
  flex-wrap: wrap;
  padding-top: 15rem;
}

.about-image-container {
  content: "  ";
  border-radius: 300px;
  border: 1px solid var(--text-color);
  padding: 10px;
  width: 430px;
  display: flex;
  justify-content: center;
}

.about-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.about-img {
  width: 400px;
  border-radius: 357px;
  border: 2px solid var(--text-color);
  margin: 15px;
  box-shadow: 0 0 100px 20px #ffa996c2, 0 0 140px 20px #ffa996c2;
}

.about-title {
  z-index: 8;
  max-height: 160px;
}

.big-star-icon {
  width: 60px;
  height: 60px;
  margin-bottom: -90px;
}

.small-star-icon {
  width: 40px;
  height: 40px;
  padding-top: 30px;
}

.about-text-content p {
  font-size: 19px;
  font-family: var(--primary-font-family);
  font-weight: lighter;
  line-height: 1.5;
}

.about-text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90px;
}

.about-first-paragraph,
.about-second-paragraph {
  width: 65%;
}

.about-second-paragraph {
  padding-top: 50px;
  margin-right: -50px;
}

/* Contact section */
.contact-icon {
  width: 80px;
  height: 80px;
}

.contact-title h2 {
  margin: 0;
  padding-bottom: 50px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 90px;
  background: radial-gradient(
    ellipse 40% 500px,
    #ffa996c2 20%,
    #fff8ee 80%,
    #fff8ee
  );
}

.form-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}

.text-area {
  max-width: 100%;
  width: 100%;
  min-height: 160px;
  border: 1px solid var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-weight: 70;
  box-sizing: border-box;
}

.form-field {
  width: 100%;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 6px;
  border-bottom: 1px solid var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.Message-field {
  font-family: var(--secondary-font-family);
  font-weight: 70;
  font-size: 1.5rem;
  box-sizing: border-box;
}

::placeholder {
  font-size: 1.5rem;
  font-family: var(--secondary-font-family);
  font-weight: 70;
  color: var(--text-color);
}

textarea:focus,
input:focus {
  outline: 1px solid var(--text-color);
  border: none;
}

.form-button-wrapper {
  padding-top: 50px;
}

#submit {
  font-family: "Wagon-italic", sans-serif;
  font-size: 1.3em;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-radius: 100%;
  padding: 10px 30px;
  border: 1px solid var(--text-color);
}

#submit:hover {
  box-shadow: 0 5px 15px rgba(255, 161, 117, 0.4);
  transition: all 0.2s ease-in-out;
  background: #fff;
}

/* Footer */

.footer {
  padding-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1.5px solid var(--text-color);
  flex-direction: column;
  margin-top: 100px;
}

.socials ul {
  padding: 0px 30px;
  font-family: var(--primary-font-family);
  font-weight: 350;
  font-size: 16px;
  letter-spacing: 0.7px;
}

.footer .copyright {
  padding: 0px 30px;
  font-family: var(--primary-font-family);
  font-weight: 350;
  font-size: 16px;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5.3em;
  }

  .hero-section {
    min-height: 30vh;
  }

  .star,
  .star-circle {
    margin-top: 40px;
  }

  .hero-text p {
    width: 50%;
    font-size: 20px;
    padding-left: 32px;
  }

  .scroll-arrow {
    width: 55px;
    height: 55px;
  }

  .view-projects-circle {
    width: 150px;
    height: 150px;
  }

  .view-all-circle {
    width: 150px;
    height: 150px;
    margin-top: -10px;
  }

  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "Project-1"
      "Project-2"
      "Project-3"
      "Project-4";
  }

  .Project-1,
  .Project-2,
  .Project-3,
  .Project-4 {
    padding: 80px 60px;
  }

  .project-content {
    padding-top: 40px;
  }

  .about-text-content {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .about-image-content {
    width: 100%;
    padding-top: 50px;
  }

  .about-second-paragraph {
    margin-right: 0px;
    padding-top: 10px;
  }

  .about-wrapper {
    padding-top: 10rem;
  }

  .about-first-paragraph,
  .about-second-paragraph {
    width: 70%;
  }
}

/* Mobile */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.4em;
  }

  .star {
    display: none;
  }

  .headline-2 {
    margin-top: 0px;
  }

  .star-circle {
    display: none;
  }

  .hero-section {
    min-height: 36vh;
  }

  .hero-wrapper {
    padding: 0 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text p {
    font-size: 17px;
    width: 250px;
    line-height: 1.4;
    padding: 0 15px;
    margin-top: 50px;
  }

  .star-circle-mobile-only {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-left: 15px;
  }

  .view-projects-circle {
    margin-left: 60%;
    width: 150px;
    height: 150px;
    padding-top: 3rem;
  }

  .scroll-arrow {
    width: 50px;
    height: 50px;
  }

  .featured-projects {
    font-size: 40px;
  }

  .horizonal-scroll-section {
    height: 52px;
  }

  .hero-content {
    padding-bottom: 5rem;
  }

  .about-section {
    padding-top: 50px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
  }

  .about-first-paragraph,
  .about-second-paragraph {
    width: 90%;
    font-size: 16px;
  }

  .about-text-content {
    width: 100%;
    align-items: center;
    padding-top: 30px;
  }

  .about-second-paragraph {
    margin-right: 0px;
    padding-top: 30px;
  }

  .about-img {
    width: 280px;
  }

  .about-image-container {
    content: "  ";
    border-radius: 300px;
    width: 320px;
  }

  h2 {
    font-size: 5em;
    margin-bottom: -60px;
  }

  .about-image-content {
    width: 100%;
  }
  .small-star-icon {
    padding-top: 10px;
    width: 35px;
    height: 35px;
  }

  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "Project-1"
      "Project-2"
      "Project-3"
      "Project-4";
  }

  .Project-1,
  .Project-2,
  .Project-3,
  .Project-4 {
    padding: 50px 12px 60px 12px;
  }

  .view-all-circle {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    padding-top: 50px;
  }

  .form-block {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .socials {
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
  }

  .socials li {
    padding-left: 10px;
  }

  .socials ul {
    margin: 0;
  }

  .footer {
    padding-bottom: 50px;
  }
}

/* Mobile navigation */

@media screen and (max-width: 768px) {
  body {
    position: relative;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .nav-menu {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0px;
    height: 21vh;
    z-index: 99;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-menu {
    justify-content: center;
  }

  .background-container {
    box-sizing: border-box;
    margin-top: 40px;
  }

  .hamburger {
    display: block;
    margin: 20px 20px;
    z-index: 100;
  }

  .background-container {
    box-sizing: border-box;
  }

  .nav-logo {
    display: none;
  }

  .navbar {
    padding-bottom: 20px;
  }
}

.nav-active {
  transform: translateX(0%);
}
